@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary {
  @apply px-3 py-2 rounded-[8px] bg-gray-800 text-white text-[1rem] font-semibold
  hover:bg-gray-400 hover:text-black transition-all duration-200 ease-in-out cursor-pointer;
}

.input-primary {
  @apply w-full cursor-pointer px-2 py-1 text-[1rem] 
  font-semibold text-gray-700 border-2 rounded;
}

/* Date Picker style */
.p-calendar {
  padding: 0;
}
.p-datepicker {
  font-size: 1.2rem;
  background-color: white;
  border: 2px solid gray;
  padding: 4px;
  border-radius: 5px;
  /* width: 400px; */
  /* display: flex;
   */
}

.p-datepicker-group-container {
  /* color: green; */
  /* width: 320px; */
  /* border: 2px solid gray; */
}

.p-inputtext {
  background-color: white;
  padding: 4px;
}
.p-datepicker-trigger {
  background-color: #428cb0;
  width: 10%;
}

.p-datepicker-trigger svg {
  width: 20;
  height: 20;
}
.p-highlight {
  background-color: #428cb0;
  border: 1px solid white;
}
